h1{

 border: 1px solid black;
 width: 200px;
 border-width: 5px;
margin:50px auto;
padding: 0px 10px;
box-sizing: border-box;

}
p{

border: 1px solid red;
width: 300px;
margin: auto;
padding: 25px;
height: 150px;
overflow: scroll;
box-shadow: -10px -10px 10px green, 10px 10px 10px rgb(234, 154, 6);

}
body{

    border: 1px solid rgb(16, 45, 234);
    height: 100vh;

}