
table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    margin:50px auto;
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    /* box-shadow: 10px 10px 10px green, -10px -10px 10px orange; */

    }
   table{

    box-shadow: 10px 10px 10px green, -10px -10px 10px orange;

   } 
    

    /* table{
    
        width: 100px;
        height: 100px; 
        border-collapse: collapse;
         border : 1px solid  black;     
        margin: auto;  
         border: 1px solid; width: 200px; height: 200px; 

    }
    td{

       width: 100px;
       height: 100px;
       background-color: white   ;
    }
    th{
        width: 100px;
        height: 100px;
        background-color: black   ;

     }
    body{
    
        border : 1px solid  black;    
        width: 400px;
    
    }  */