
li, button{
    float: left;

}

li{
padding: 20px;
}
button{
    height: 50px;
    width: 160px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: brown;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

