table{

    /* border: 1px solid black; */
    border-collapse: collapse;
    margin: auto;
    border-radius: 10px;

 
    box-shadow: 10px 10px 10px orange, -10px -10px 10px green;
}

td{

width: 50px;
height: 50px;
text-align: center;
font-size: 50px;

}
 tr:nth-child(odd) td:nth-child(even),
 tr:nth-child(even) td:nth-child(odd)
{ 

background-color: brown;

}
/* table{
   border-radius: 10px;

 
box-shadow: 10px 10px 10px orange, -10px -10px 10px green;

} */