.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px;
    
}
#btn{
    padding: 20px;
    border-radius: 20px;
}
button{
    background-color: brown;
    color: white;
    font-size: 20px;
}