
.o{
    border: 10px solid rgb(252, 248, 248);
    width: 390px;
    margin: auto;
    
    margin-top: 10px;
    
    height: 270px;
    border-radius: 5px;
    background-color: white;
    

}
.a{
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 20px;
    border-color: white;
    box-shadow: 10px 10px 10px white, -10px -10px 10px white;
    font-size: 18px;
  line-height: 22px;
  
  
}
div input{
    background: none;
    width: 300px;
    height: 40px;
    border-radius: 6px;
    text-align: left;
    padding: 0 16px;
    border: 0px solid;
    box-shadow:inset 2px 2px 5px rgb(208, 199, 199);
    font-size: 20px;
  line-height: 48px;
  
  box-sizing: content-box;

}
div button{

    

  color: #fff;
  font-weight: bold;
  box-sizing: content-box;

    background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 300px;

}
div p{
    text-align: center;
    
}
div h1{
    font-family: inherit;
    text-align: center;
    margin-top: 70px;
    color: #1877f2;
    font-size: 35px;
  line-height: 22px;
}
div h5{
    color: #1877f2;
    text-align: center;
  font-size: 14px;
  font-weight: 500;
}

body{
    background-color: #f0f2f5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;   
}
div p{
    font-size: 18px;
  line-height: 22px;
}