li{
    list-style-type: none;
    display: inline-block;
padding: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid whitesmoke; */
    max-width: 1080px;
    box-sizing: border-box;
    margin: auto;
}
.a{
    grid-column: span 2;
}
.b{
    grid-column: span 2;
    background-color: black;
    border-bottom: 5px solid red;

}

.d{
    padding: 25px;
}
.g{
    grid-column: span 2;

}
@media(max-width:600px){
.con{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
  box-shadow: 0 0 10px rgba(50, 50, 50, .17);
}
}
a{
    color: white;
}
.a p{
    color: red;
   border-top:  1px solid #ebebeb;
   padding-top: 10px;
   display: inline-block;
}
.d h2{
    border-bottom: 5px solid red;
}
form{
    background-color: #f5f5f5;
    display: block;
  padding: 5%;
}
.d input{
width:400px;
height: 30px;
}
