.para1{
    background-color: rgb(243, 216, 166);
    flex: 1;
    order: 3;
}
.para2{
    background-color: rgb(224, 176, 219);
     flex: 3;
     order: 1;
}
.para3{
    background-color: rgb(217, 227, 158);
    flex: 2;
    order: 2;
}
p{
    margin: 20px;
    padding: 20px;
}
.container{
    display: flex;
    background-color: lawngreen;
    flex-wrap: wrap;
}
body{
    background-color: yellow;
}
.box{
    background-color: rosybrown;
    width: 150px;
    height: 150px;
    border: 1px solid blueviolet;
}
.container2{
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    flex-wrap: wrap;
}
.box2{
    flex-grow: 1;
}