body {

    background: url(../CSS/../../images/pexels-helena-jankovičová-kováčová-20168398.jpg);
    background-size:cover;
}
.c{
      font-size: 24px;
      color: white;
      background-color: rgba(255, 250, 250, 0.5);
      width: 400px;
      margin:150px auto;
      padding: 20px;
      border-radius: 15px;

}
h2{
 color: rgb(53, 228, 13);
 text-align: center;
 text-transform: uppercase;
}
.input input{
      width: 100%;
      font-size: 28px;
      padding: 0px 15px;
      box-sizing: border-box ;
      margin-bottom: 10px;
      border-radius: 15px;

}
.btn button{
      background-color: red;
      width: 100px;
      
}
.btn{
      text-align: center;
      margin: auto;
      

}

