.container{

    display: grid;
    grid-template-columns: 1fr 1fr ;
   

}

.d{
 
   
   
    padding: 20px;
}
.a{

    grid-column: span 2;
}
.b{

    grid-column: span 2;
}
.g{

    grid-column: span 2;

}

div{

    
}

@media (max-width: 600px){
  
    .con{

        display: flex;
        flex-direction: column;
    }

}