.eight{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 10vh 40vh 20vh 10vh;
}
.eight div{
    display: grid;
    border: 2px solid white;
    color: white;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}
.box1{
    background-color: deeppink;
    grid-column: span 6;

}
.box2{
    background-color: red;
}
.box3{
    background-color: green;
    grid-column: span 4;
}
.box4{
    background-color: black;
}
.box5{
    background-color: blue;
    grid-column: span 2;
}
.box6{
    background-color: darkorange;
    grid-column: span 2;

}
.box7{
    background-color: mediumvioletred;
    grid-column: span 2;
}
.box8{
background-color: maroon;
grid-column: span 6;
}
