.outerbox{
    background-color: beige;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.boxs{
    width: 180px;
    height: 180px;
    background-color: blue;
    border: 2px solid white;
}
.boxs2{
    flex-shrink: 1;
}



.container{
    background-color: orange;
    display: flex;

}
.box{
    border: 1px solid black;
    margin:50px;
}
p{
    padding: 10px;
}
.box1{
    background-color: slategrey;
    flex: 1;
    order: 2;
}
.box2{
    background-color: darkseagreen;
    flex: 1;
    order: 3;

}
.box3{
    background-color: lightsalmon;
    flex: 2;
    order: 1;

}