.box{
    width: 300px;
    height: 300px;
    background: linear-gradient(to left, red, black);
    margin: 100px auto; 
}
/* html{
    font-size: 20px;
}
.box{
    font-size: 16px;
}
#para1{
    font-size: 2em;
}
#para2{
    font-size: 2rem;
} */
/* .container{
    width: 25vw;
    height: 25vh;
    border: 1px solid black;
    overflow: scroll;
}
.small{
    width: 25vw;
    height: 25vh;
    border: 1px solid red;
    overflow: scroll;
} */