/* .para{
    background-color: aquamarine;
    text-align: center;
}
.container{
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: 2fr 3fr ; */
/* column-gap: 10px;
row-gap: 10px; */
/* gap: 20px; */

/* } */
/* .para1{
    grid-column: span 2;
    grid-row: span;
} */
.layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    background-color: indianred;
    grid-template-areas: "h h h" "sb1 m sb2" "f f f";
}
.head{
    grid-area: h;
}
.sb1{
    grid-area: sb1;
}
.main{
    grid-area: m;
}
.sb2{
    grid-area: sb2;
}
.foot{
    grid-area: f;
}
.layout div{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
