.container div{
    display: grid;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h h h"
    "mb m sb"
    "f f f"
    "foot foot foot";
    grid-template-rows: 10vh 50vh 30vh 10vh;
    color: white;
}

.box1{
    background-color:rgba(29, 125, 29, 0.918) ;
    grid-area: h;
}
.box8{
    background-color:rgb(35, 35, 88) ;
    grid-area: foot;
}
.box2 .box3 .box4{
    grid-area: mb m sb;
}
.box3{
    background-color: rgb(174, 63, 100);
    width: 50vw;
}
.box4{
    background-color: rgba(243, 76, 168, 0.832);
   
}
.box5 .box6 .box7{
        grid-area: f f f;
}
.box2{
    background-color: rgb(99, 90, 90);
}
.box5{
    background-color: rgb(130, 130, 213);
}
.box6{
    background-color: rgb(130, 130, 213);
}
.box7{
    background-color: rgb(130, 130, 213);
}


