.container{
grid-template-columns: 1fr 1fr;

}

.three li{
    display: inline-block;
color: rgb(248, 248, 248);
}

.two{

    grid-column: span 2 ;
}

.three{
    padding-top: 13px;
    background-color: black;
    height: 60px;
    grid-column: span 2 ;
}

li{
    padding-right: 30px;
}

.two p{
    color: red;
}



