a{
    color: brown;
    text-decoration: none;
    background-color: aqua;
}
a :visited{

    color: blue;

}
a:hover{

    color: aqua;

}

table{
    border : 1px solid  black;    

margin: bottom;
border-collapse: collapse;
text-align: center;
text-decoration: underline;
font-weight: bold;
margin-top: 100px;

}
body{

    border : 1px solid  black;    
    width: 1000px;

}
/* tfoot{

    border : 8px solid  rgb(83, 0, 248); 
    font-size: 20px;
} */