body{
    margin: auto;
    height: 100%;
   
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  font-size: 16px;
  background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    background-image: url(../../images/netflix.jpg);
    background-size: cover;
    width: 100px;

}
div input{
   
    color: inherit;
  padding: 1.5rem 1rem 0.5rem; 
  background: transparent;
  border: 0 solid transparent;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  fill: currentcolor;
  line-height: 1.5;
  /* width: 100%; */
  font-size: 1rem; 
  min-height: 16px;
  min-width: 16px;
  margin-bottom: 25px;
  box-sizing: border-box;

  
}
div button{
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    min-height: 2.5rem;
    line-height: 1.5;
    padding: 1.5rem 1rem 0.5rem; 
    background: rgb(229,9,20);
    color: rgb(255,255,255);
    box-sizing: border-box;
    margin-bottom: 25px;
    text-align: center; 
  


}
form{
    border: 1px solid black;
    background-color: rgba(0,0,0,0.7);
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 707px;
    padding: 48px 68px;
    /* margin: auto; */
    width: 400px;
    margin-top: 65px;
}
div p{
    text-align: center;
}
.h input{
      display: inline;
}