*{
    box-sizing: border-box;

}

body{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form{
    width: 500px;
    background-color: salmon;
    padding: 0 30px;
    display: grid;
    gap: 20px;
    padding-bottom: 30px;
}

input{
    width: 100%;
    padding: 10px;
}

.otpverify{
    width: 100%;
    display: flex;
    gap: 20px;
}

.btn{
    padding: 10px;
    background-color: rgb(255, 0, 47);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}


