
nav{
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

}
.Hero{
    height: 100vh;
    width: 100%;
    background-color: rgb(103, 146, 34);
    /* background-image: url(../../images/pexels-helena-jankovičová-kováčová-20168398.jpg);
    background-size: cover;
    background-position: center; */
}
nav ul{
   display: flex; 
}
nav ul li {
    display: inline-block;
    padding: 10px 20px;

}
.name{
    color: white;
    font-size: 25px;
}
span{
    color: yellow;
}
nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;

}

a:hover
{
    color: red;
    transition: 1s;
}

.btn{
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    text-decoration: none;

}
.content{
    top: 45;
    left: 10;
    position: absolute;
    transform: translate(50%,50%);
}

h3{
    color: pink;
    font-size: 20px;
    margin-bottom: 40px;
}

h2{
    color: white;
}


h4{
    color: white;
}

.subscribe form{
     width: 200px;
     position: relative;
}
.subscribe form input:first-child{
         display: inline-block;
         width: 70%;
         padding: 15px 120px 13px 14px;
         border: 3px solid red;
         border-radius: 40px;
}

.subscribe form button:last-child{
    border: none;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 40px;
    top: 7px;
    right: -70px;
    position: absolute;
    
}

