*{

   font-family: monospace;
}



h1{
    font-size: 100px; color: brown;
}
#Ramu{

font-size: 100px; color: rgb(20, 17, 220);
}
.ra{

font-size: 100px; color: rgb(242, 185, 13);
}
.ba{
background-color: aqua;

font-size: 100px; color: rgb(242, 185, 13);
}
