.con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    margin:auto;
    gap: 15px;
}
#first{
    grid-column: span 2;
background-color: hotpink;
padding: 15px;
}
#seven{
    grid-column: span 2;
    background-color: chocolate;
    padding: 15px;

}
#second{
    background-color: darkgray;
    padding: 15px;

}
#three{
    background-color: darkseagreen;
    padding: 15px;

}
#four{
    background-color: lightpink;
    padding: 15px;

}
#five{
    background-color: thistle;
    padding: 15px;

}
#six{
    background-color: turquoise;
    padding: 15px;

}
#seven{
    background-color: mediumpurple;
    padding: 15px;

}
#eight{
    background-color: yellowgreen;
    padding: 15px;

}
@media (max-width:600px) {
    .con{
        display:flex;
        flex-direction: column;
    }
    
}