
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;

} 
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}
.navbar .navbar-brand{
    font-size:25px ;
    font-weight: 800;
    color: #29f700 !important;
}

#navbarSupportedContent a{
    color: #fff;
    border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid #29f700;
}
#navbarSupportedContent button{
    background: #29f700;
    border-radius: 15px;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**HOME**/

#home{
    display: flex;
    background: url(../../images/home.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;

}
#home h1{
    text-align: center;
    width: 100vw;
    flex-wrap: wrap;
    font-size: 100px;
    color: red;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px green,
                 0px 2px 0px green,
                 0px 3px 0px green,
                 0px 4px 0px green,
                 0px 5px 0px green,
                 0px 6px 0px green;
}

#home p{
     font-size: 18px;
     color: green;
}

#home .input-group{
    width: 40%;
    height: 45px;

}

.input-group button{
    color: white;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
    background: #29f700 !important;
}

/**about**/


#about{
    background: linear-gradient(to right,red, green 100%);
}

#about h1{
    font-weight: 800;
    font-size: 50px;
    color: white;
}
#about p{
    color: white;
}

/**products**/

#product{
    background: #e5e5e5;
}
#product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
.card{
    width: 250px;
    height: 300px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                               inset 4px 4px 10px white;
                               border-radius: 20px !important;
                               overflow: hidden;
                               justify-content: center;
                               align-items: center;
                               margin: 20px 60px;
}

.row a{
    background: #29f700;
    color: blue;
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),
                inset -4px -4px 10px white;
                transition: 2s;
}

/**contact**/

.btn-contact{
    background: #29f700;
    color: blue;


}
#contact img{
    height: 100%;
}
.box{
    width: 80% !important;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;
}
#contact textarea{
    margin: 10px 0px;
}
footer{
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,.8);
    margin-top: -30px;
    text-align: center;
    color: white;
    padding: 3px;
}

@media(max-width: 600px){
    .ram{
        display: flex;
        flex-direction: column;
    }

}