dl ::first-letter{

font-size: 32px;
     
}
dl {

    text-indent: 50px;
    text-transform: capitalize;
  
}
ul li{

list-style-type: upper-alpha;
color: blue;

}

ol li{

list-style-type: square;
color: red;
    
    }
dl li{

    list-style-type: initial;
color: green;            
            }



/*h1{ background-color: aqua;
    color: blueviolet;
    text-align: left;
 }
*{ font-family: monospace;  }
.ram{  
    color: darkgreen;  
    size: 100px; 
    text-align: end; 
}
#Thaniga{
    color: chocolate;
}
#Thanigakalanidhi{
    text-align: justify;
}

p{

text-indent: 50px;
text-transform:capitalize;
font-weight: bold;

}

p::first-letter{

font-size: 32px;

}