table,tr,th,td{

border : 1px solid  black;      
    border-collapse: collapse;
}

table{

    margin: auto;
    margin-top: 100px;

}
body{

    border : 1px solid  black;    
    width: 400px;

}
#a{

text-align: right;

}
