.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: Verdana,sans-serif;
}

.head{
    display: flex;
    grid-column: span 6;
    height: 45px;
    align-items: center;

}
li{
    display: inline-block;
    padding: 10px;
}
.menu{
    display: flex;
    grid-column: span 6;
    background-color: black;
    color: white;
    height: 32px;
    align-items: center;
}

.column1{
    grid-column: span 1;
    background-color: #E7E9EB;
}
.column2{
    grid-column: span 4;
    margin-top: 100px;
    /* margin-left: 35px; */
  
}
.column3{
    grid-column: span 1;
}
input{
    border-radius: 40px;
    height: 30px;
}
.head li a{
    text-decoration: none;
    color: black;
}
#a{
        border-radius: 40px;
        height: 35px;
        width: 150px;  
        color: white;
        background-color:#04AA6D !important ;
}
#b {
    border-radius: 40px;
    height: 35px;
    width: 300px;  
    background-color: #D9EEE1 !important;
    color: black;
    
}
#b:hover{
background-color: #04AA6D !important ;
}

#hover:hover{
    background-color: #04AA6D !important ;
    }
#l{
    color: #04AA6D;

}

.head h1{
    color: #04AA6D;
}
.menu li a{
    color: white;
    text-decoration: none;
}

#m{
    background-color: #04AA6D !important ;
  color: white;
}

#btn1{
    background-color: #04AA6D !important ;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 10px;
font-size: 20px;
align-items: center;
}


#btn2{
    background-color: #04AA6D !important ;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 10px;
font-size: 20px;
align-items: center;
margin-left: 750px;
}

#g{
    background-color: #D9EEE1;
padding: 60px;

}
.pad{
    padding: 30px;

}
#g button{
    background-color: #04AA6D !important ;
   color: white;
   height: 50px;
  width: 280px;
  border-radius: 10px;
  font-size: 20px;

}
