

html,
body{
   margin: 0;
   background-color:#989070;
}

#wrapper div,#wrapper h2{
    display:flex;
    justify-content: center;
    
}

h2{
    color:#ffeba7;
    letter-spacing: 1px;
    font-size: 50px;
}
input{
    border-radius: 5px;
    border: 2px solid black ;
    margin-top:30px;
    height:1em;
    width:250px;
    padding-left:10px;
}

input:active{
    border:none;
}
#wrapper{
    height:300px;
    width:400px;
    margin:200px auto;
    background-color: brown;
    border-radius:10px;
    padding:30px;
}

button{
    margin-top:20px;
    background-color:#ffeba7;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #102770;
}

button:hover{
    cursor:pointer;
}
#result{
    color:white;
    margin-top:20px;
    font-size:32px;
}
input{
text-align: center;
}